################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventoApp/.vs
/EventoApp/EventosApp/.vs
